<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{pageTitle}}</title>
  {{> settings}}
</head>
<body>


{{> header}}


<div class="page-container">
  <div class="content">

    <div class="breadcrumbs">
      <a href="/" class="breadcrumbs__item">Branchlist</a>
    </div>

    <h1 class="title title_size_xl">{{pageTitle}}</h1>


<h3>Commits</h3>

<div class="files">
  {{#each commitList}}
    <div class="commits-item">
      <div class="commits-item__date">{{this.date}}</div>
      <div class="commits-item__hash">
        {{this.hash}}
      </div>
      <div class="commits-item__subject">
        <a href="{{this.hash}}/" class="commits-item__link">{{this.subject}}</a>
      </div>
    </div>
  {{/each}}
</div>

  </div>
</div>



</body>
</html>