<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{pageTitle}}</title>
</head>
<body>


{{> header}}

<h1>{{pageTitle}}</h1>

<h3>Commits</h3>

<div class="files">
  {{#each commitList}}
    <li>{{this.date}} <a href="{{this.hash}}">{{this.subject}}</a> </li>
  {{/each}}
</div>





</body>
</html>