<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{pageTitle}}</title>
  {{> settings}}
</head>
<body>
{{> header}}

<div class="page-container">
  <div class="content">

  <h1 class="title title_size_xl">{{pageTitle}}</h1>

  {{#if repoExist }}

  <div class="branches">
    {{#each branchList}}
      <div class="branches-item">
        <div class="brinches-item__name">{{this}}</div>
        <div class="branches-item__files">
          <a href="/{{this}}/files/" class="link">Files</a>
        </div>
        <div class="branches-item__commits">
          <a href="/{{this}}/commits/" class="link">Commits</a>
        </div>
      </div>
    {{/each}}
  </div>

  {{/if}}



  <form class="repo-upload-form">
    <input type="text" name="repoUrl" placeholder="Repo URL" class="input repo-upload-form__input" >
    <button type="submit" class="button repo-upload-form__button">Upload</button>
  </form>

  </div>
</div>

<script src="/js/bundle.js"></script>

</body>
</html>