<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{pageTitle}}</title>
</head>
<body>


{{> header}}

<h1>{{pageTitle}}</h1>

<h3>Branches</h3>

<div class="branches">
  {{#each branchList}}
    <li> {{this}} <a href="/{{this}}/files/">[files]</a>  <a href="/{{this}}/commits/">[commits]</a></li>
  {{/each}}
</div>



</body>
</html>