<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{pageTitle}}</title>
</head>
<body>


{{> header}}

<h1>{{pageTitle}}</h1>

{{#if repoExist }}

<h3>Branches</h3>

<div class="branches">
  {{#each branchList}}
    <li> {{this}} <a href="/{{this}}/files/">[files]</a>  <a href="/{{this}}/commits/">[commits]</a></li>
  {{/each}}
</div>

{{/if}}



<form class="repo-upload-form">
  <input type="text" name="repoUrl" placeholder="Ссылка на репозиторий" class="input repo-upload-form__input" >
  <button type="submit" class="button repo-upload-form__button">Загрузить</button>
</form>

<script src="/js/bundle.js"></script>

</body>
</html>